.input-field:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(50, 50, 50, 255);
  /* Adjust the color as needed */
}

.static {
  position: static
}

.mb-5 {
  margin-bottom: 1.25rem
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.w-2\/3 {
  width: 66.666667%
}

.w-full {
  width: 100%
}

.max-w-md {
  max-width: 28rem
}

.cursor-pointer {
  cursor: pointer
}

.flex-col {
  flex-direction: column
}

.self-start {
  align-self: flex-start
}

.self-end {
  align-self: flex-end
}

.overflow-y-auto {
  overflow-y: auto
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-zinc-700 {
  --tw-border-opacity: 1;
  border-color: rgb(63 63 70 / var(--tw-border-opacity))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-zinc-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity))
}

.bg-zinc-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.p-5 {
  padding: 1.25rem
}

.pb-24 {
  padding-bottom: 6rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
